body {
  background-color: #fcf9f8;
}
.nav-item{
  padding-left: 10px;
  padding-right: 10px;
}

.footer-text {
  padding-left: 40px;
}

.footer-size{
  height: 5%;
}

.fontello-size {
  font-size: 1.75rem;
}
.items-size {
  width: 25vw;
  height: 25vh;
}
.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
